services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    container_name: tb-backend
    ports:
      - "8000:8000"
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./data:/app/data
      - ./data/features:/app/data/features
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    container_name: tb-frontend
    depends_on:
      - backend
    ports:
      - "80:8080"
    restart: unless-stopped


